*, ::before, ::after{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 16px;
}

button{
    cursor: pointer;
}

html, body{
    height: 100%;
    width: 100%;
}

#navbar{
    width: 100%;
    height: 20lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    z-index: 100;
    /* background-color: red; */
}
#cont-logo{
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
#cont-logo #logo{
    color: #000;
    font-size: 1.7rem;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 0 30px;
    border-radius: 50rem;
    background: #fff;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, .2);
    transition-duration: .3s;
}
nav:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, .2);
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: .9rem;
}

#cont-header{
    width: 100%;
    height: 100lvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#cont-header #background-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

#cont-tagline{
    position: relative;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cont-tagline h1{
    color: #fff;
    font-size: .9rem;
}

#cont-orderNow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 6rem;
}
#cont-orderNow #btn-orderNow{
    background-color: #FF4000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    font-size: 1rem;
}

#cont-menu{
    background-color: #201E1F;
    width: 100%;
    height: 100lvh;
}
#cont-benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem 0;
}
#cont-benefits span{
    color: #fff;
    width: 70%;
    padding: 1rem;
}
#cont-benefits span p{
    font-size: .9rem;
}
#cont-benefits span h3{
    font-size: 1rem;
    padding: .3rem 0;
}